<div class="content">
  <div class="row m-1 formobilechanges ">
    <div class="col-md-10 col-xs-12 bgc-white border padl-r-0">
      <!-- *ngIf="showAnalysisData"-->
      <div class="chart-details" *ngIf="showAnalysisData">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" [colors]="lineChartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
      <div class="info-msg" *ngIf="!showAnalysisData">
        <h4>Please select the State to Analyze </h4>
      </div>
    </div>
    <div class="col-md-3 h-100 bd p-1 bgc-white border filter-bar" *ngIf="filterHide">
      <form class="filter">
        <div class="form">
          <div class="form-group col">
            <select name="inputState" class="form-control bdrs-0" [(ngModel)]="selected_State" (change)="changeState($event)">
              <option value=''>State 1</option>
              <option value="{{item}}" *ngFor="let item of allStateName">{{item}}</option>
            </select>
          </div>
          <div class="form-group col">
            <select name="inputDist" [(ngModel)]="selected_districts" class="form-control bdrs-0" (change)="getDistrict($event)">
              <option value=''> District 1</option>
              <option value="{{item}}" *ngFor="let item of districts">{{item}}</option>
            </select>
          </div>
          <div class="form-group col">
            <select name="inputYear" [(ngModel)]="selected_finYear" class="form-control bdrs-0" (change)="getSelectedYear($event)">
              <option value=''>Financial year</option>
              <option *ngFor="let item of financial_year">{{item.year}}</option>
            </select>
          </div>
        </div>
        <div class="form">
          <div class="form-group col">
            <select name="inputForm" [(ngModel)]="selected_form" class="form-control bdrs-0" (change)="getForm($event)">
              <option value=''>Form</option>
              <option value="{{item}}" *ngFor="let item of forms">{{item}}</option>
            </select>
          </div>
          <!-- <div class="form-group col">
            <select name="inputService" [(ngModel)]="selected_sp" class="form-control bdrs-0" (change)="getservicePoint($event)">
              <option value=''>Service point</option>
              <option value="{{item}}" *ngFor="let item of service_points">{{item}}</option>
            </select>
          </div> -->
          <div class="form-group col">
            <select name="inputSFreq" [(ngModel)]="selectedFrequency" class="form-control bdrs-0" (change)="getfrequency($event)">
              <option value=''>Frequency</option>
              <option *ngFor="let item of frequency">{{item}}</option>
            </select>
          </div>
        </div>
      </form>
      <div class="p-1 button-action">
        <button class="btn btn-block btn-danger bdrs-0 mr-2 redbutton" (click)="showAnalyze()">Analyze</button>
        <button class="btn btn-block btn-light bdrs-0" (click)="clearFields()">Clear</button>
      </div>
    </div>
  </div>
</div>