<div class="app-container">
  <div class="header" *ngIf="!isHome">
    <div class="logo-block">
      <a href="javascript:void(0);" title="logo" class="logo">
        <img style="height: 50px;" src="../assets/images/piramal.jpg" alt="logo">
      </a>
      <a href="javascript:void(0);" class="sidebar-toggle" (click)="onSidebarClick()">
        <span class="ti-menu"></span>
      </a>
    </div>
    <div class="mid-logo">
      <a href="javascript:void(0);">
        <img style="height: 50px;" src="../assets/images/Niti-Aayog-logo.jpg" alt="logo">
      </a>
    </div>
    <div class="right-logo">
      <a href="javascript:void(0);">
        <img style="height: 50px;" src="../assets/images/national-emblem.jpg" alt="logo">
      </a>
    </div>
  </div>
  <div class="app-content" [class.loginpage]="isHome">
    <div class="sidenav">
      <app-sidenav *ngIf="!isHome" [showSidebar]="showSidebar"></app-sidenav>
    </div>
    <div class="maincontent">
      <div class="main-wrapper h-100" [ngClass]="{'main-wrapper-min': !showSidebar,'isLogin':isHome}">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div class="loader-parent" *ngIf="isLoading">
  <div class="spinner loader">
    <div class="blue-spinner"></div>
    <div class="gray-spinner"></div>
  </div>
</div>