<div class="sidebar" [ngClass]="{'sidebar-min': !showSidebar}">
  <ul class="clearfix">
    <li>
      <a [routerLink]="[ '/dashboard']" title="HOME" routerLinkActive="active"><i class="ti-home"></i> <span>Home</span></a>
    </li>
    <li>
      <a [routerLink]="[ '/about']" title="ABOUT" routerLinkActive="active"><i class="ti-info-alt"></i> <span>About</span></a>
    </li>
    <li>
      <a [routerLink]="[ '/compare']" title="COMPARE" routerLinkActive="active"><i class="ti-pie-chart"></i> <span>Compare</span></a>
    </li>
    <li>
      <a [routerLink]="[ '/analyze']" title="ANALYZE" routerLinkActive="active"><i class="ti-pulse"></i> <span>Analyze</span></a>
    </li>
    <li>
      <a [routerLink]="[ '/growth/analysis']" title="GROWTH ANALYSIS" routerLinkActive="active"><i class="ti-stats-up"></i>
        <span>Growth analysis</span></a>
    </li>
    <li>
      <a [routerLink]="[ '/settings']" title="SETTINGS" routerLinkActive="active"><i class="ti-settings"></i> <span>Settings</span></a>
    </li>
    <li>
      <a (click)="logout()" title="LOGOUT" style="color:#fff;cursor:pointer"><i class="ti-power-off"></i>
        <span>Logout</span></a>
    </li>
  </ul>
</div>