<div class="heading-states">
  <div class="content-header">
    <h6><span class="ti-star"></span> All States</h6>
  </div>
  <div class="content-header-states">
    <select id="inputState" class="form-control bdrs-0" [(ngModel)]="seletedState" (change)="statesChangeEevnt($event)">
      <option value="{{item}}" *ngFor="let item of states">{{item}}</option>
    </select>
  </div>
</div>

<agm-map #gmap [latitude]="lat" [fitBounds]="true" [longitude]="lng" zoom="50" [zoomControl]="true">
  <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m,i)" [latitude]="m.lat"
    [longitude]="m.lng">
    <agm-info-window>
      <div class="heading">
        <strong>Current District <span>{{district}}</span></strong>
      </div>
      <table class="table table-bordered table-details">
        <thead>
          <th>General</th>
          <th>Training</th>
          <th>Equip & D</th>
          <th>Infra</th>
          <th>ManPower</th>
          <th>L&D</th>
        </thead>
        <tbody>
          <tr>
            <td>{{contentData['General']?.toFixed(0) || 0}}</td>
            <td>{{contentData['Training']?.toFixed(0) || 0}}</td>
            <td>{{contentData.EquipAndD?.toFixed(0)|| 0}}</td>
            <td>{{contentData.Infra?.toFixed(0) || 0}}</td>
            <td>{{contentData.Manpower?.toFixed(0) || 0}}</td>
            <td>{{contentData.LAndD?.toFixed(0) || 0}}</td>
          </tr>
        </tbody>
      </table>
    </agm-info-window>
  </agm-marker>
  <agm-kml-layer *ngIf="seletedState === 'Uttar Pradesh'" [url]="upKlm"></agm-kml-layer>
  <agm-kml-layer *ngIf="seletedState === 'Madhya Pradesh'" [url]="mpKlm"></agm-kml-layer>
  <agm-kml-layer *ngIf="seletedState === 'Rajasthan'" [url]="rajasthanKlm"></agm-kml-layer>
  <agm-kml-layer *ngIf="seletedState === 'Bihar'" [url]="biharKlm"></agm-kml-layer>
  <agm-kml-layer *ngIf="seletedState === 'Jharkhand'" [url]="jharkhandKlm"></agm-kml-layer>
  <agm-kml-layer *ngIf="seletedState === 'Maharashtra'" [url]="maharastraKlm"></agm-kml-layer>
  <agm-kml-layer *ngIf="seletedState === 'Assam'" [url]="assamKlm"></agm-kml-layer>
</agm-map>